@import url('https://fonts.cdnfonts.com/css/rubik');

html {
  height: 100%;
}

body {
    background-color: #1e1e1e !important;
    overflow: hidden;
}

* {
    font-family: 'Rubik', sans-serif !important;
    color: #E0DDCF !important;
    font-size: 15pt !important;
    outline: none !important;
}

h1 {
    font-size: 60pt !important;
    font-weight: 500 !important;
}

h2 {
    font-size: 45pt !important;
    text-align: center;
    font-weight: 300 !important;
}

h3 {
    width: 100%;
    text-align: center;
    font-size: 25pt !important;
}

.btn {
    background-color: #1e1e1e !important;
    border-radius: 30pt !important;
    border-width: 2pt !important;
    border-color: #E0DDCF !important;
    margin-right: 20pt;
}

.btn:hover  {
    background-color: #E0DDCF !important;
    color: #1e1e1e !important;
}

.submit-btn {
    width: 100%;
}

.navbar {
    padding-top: 30pt !important;
    padding-bottom: 30pt !important;
    padding-left: 80pt !important;
    padding-right: 80pt !important;
}


.section {
    touch-action: none;
}

.form-container {
    display: none;
    background-color: #1e1e1e;
    padding: 40pt;
    border-radius: 20pt;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shadow {
    display: none;
    opacity: 30%;
    background-color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
    border-radius: 10pt !important;
    border-color: #E0DDCF !important;
    background-color: #1e1e1e !important;
    border-width: 2pt !important;
}

input:focus, input.form-control:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

#login-for-margin {
    margin-bottom: 50pt !important;
}
small {
    font-size: 10pt !important;
}
.help {
    margin-bottom: 10pt ;
}